#footer {
  background: #222831;
  width: 100%;
  height: auto;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 80px;
  width: 80px;
  background: #00adb5;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  border-radius: 1rem;
}

.social a img {
  filter: invert(100%);
  height: 80%;
  width: 80%;
}

.social a:hover {
  background: #00f2ff;
}

#footer p {
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  text-align: center;
  color: #eeeeee;
}

#footer p span {
  color: #00adb5;
}

@media screen and (max-width: 768px) {
  .social a {
    margin: 2rem 0;
  }
  .social {
    gap: 8vw;
  }
  #footer p {
    font-size: 1rem;
  }
}
.btn {
  margin: 1rem;
  padding: 1rem;
  color: #000000;
  background: #ff0000;
  border: 2px solid black;
  border-radius: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  overflow: hidden;
  transition: 0.2s;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #ff0000;
  background: #000000;
  box-shadow: 0 0 10px 10px #ff0000;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  cursor: default;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #222831;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
  width: 100vw;
  height: 100vh;
  animation: effect 10s linear infinite;
  z-index: 0;
}

#header-text-content {
  text-align: center;
  padding: 20px;
  color: #eeeeee;
  font-size: 2rem;
  z-index: 99;
  position: relative;
  width: 50%;
  height: 50vh;
}

#sound-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.header-txt-highlight {
  color: #00adb5;
  font-size: 3rem;
}

#header-text-content a {
  position: absolute;
  color: #00adb5;
  font-size: 3rem;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 50%;
  height: 50vh;
  background: linear-gradient(0deg, black, grey);
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(45deg, red, blue, green);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  filter: blur(5px);
}

@keyframes effect {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.neon-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.neon-button.focus {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 20px #2196f3;
  transition-delay: 1s;
}

.neon-button span {
  position: absolute;
  display: block;
}

.neon-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.neon-button.focus span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.neon-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.neon-button.focus span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.neon-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.neon-button.focus span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #2196f3);
}

.neon-button.focus span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

@media screen and (max-width: 1200px) {
  .border {
    width: 80%;
    height: 80vh;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header h1 span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }
  .header h1 span {
    font-size: 1.5rem;
  }
}
@media screen and (max-height: 680px) {
  .border {
    height: 80vh;
  }
}
main {
  width: 100vw;
  height: auto;
  background: linear-gradient(180deg, #393e46, #393e46);
  color: #eeeeee;
  cursor: default;
}

.nav-border {
  width: 100%;
  background: #222831;
  position: fixed;
  padding: 10px 0;
  height: 20px;
  z-index: 1;
}

.nav-border a {
  display: none;
  cursor: pointer;
  float: left;
  font-size: 1rem;
  padding: 0px 20px;
  font-weight: 700;
  text-decoration: none;
  color: #eeeeee;
  transition: color 0.5s ease-out;
}

.nav-border > a:hover {
  color: #00adb5;
}

.nav-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: #00adb5;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: fixed;
  padding: 10px 0;
  height: 16px;
  z-index: 2;
}

.nav-menu a {
  font-size: 1rem;
  padding: 0 20px;
  font-weight: 700;
  text-decoration: none;
  color: #eeeeee;
  transition: color 0.5s ease-out;
  cursor: pointer;
}

.nav-menu > a:hover {
  color: #00adb5;
}

@media screen and (max-width: 768px) {
  .nav-border a {
    display: block;
  }
  .nav-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    top: 40px;
    width: 160px;
    height: 150px;
    background: rgb(26, 28, 31);
    z-index: 97;
  }
  .nav-menu.responsive {
    display: flex;
  }
}
#characters {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 1200px;
  flex-wrap: wrap;
}
#characters div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
}
#characters div img {
  height: 100px;
  width: 100px;
  background: #00adb5;
  border-radius: 1rem;
  box-shadow: 0 0 15px 1px rgb(0, 0, 0);
}
#characters div p {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 3rem;
}

.description img {
  border-radius: 2rem;
  width: 150px;
  box-shadow: 0px 0px 8px 8px #00adb5;
  margin-right: 2rem;
}

.description p {
  font-size: 1rem;
  padding: 1rem;
  max-width: 1200px;
}

.txt-highlight {
  color: #00adb5;
  font-weight: 700;
  text-decoration: none;
}

a.txt-highlight:hover {
  color: #00f2ff;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

#about {
  width: 100vw;
  height: auto;
}

main h1 {
  font-size: 1.5rem;
  color: #00adb5;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  text-align: center;
  padding-top: 60px;
  position: relative;
}
main h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 70px);
  height: 0.2rem;
  background: #00adb5;
  width: 140px;
}
main h2 {
  font-size: 1.5rem;
  color: #00adb5;
  text-align: center;
  padding-top: 1rem;
}
main .langs {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
}
main .langs a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  height: 100px;
  width: 100px;
  background: #00adb5;
  border-radius: 1rem;
  box-shadow: 0 0 15px 1px rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  color: black;
  font-size: 0.8rem;
}
main .langs img {
  height: 75%;
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 1200px) {
  main .langs {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
  }
}
@media screen and (max-width: 768px) {
  main .langs {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 100px);
  }
  .description {
    flex-wrap: wrap;
  }
  .description img {
    margin: 2rem auto;
  }
  .description p {
    font-size: 0.8rem;
    padding: 0;
    max-width: 1200px;
  }
}
.hidden {
  display: none;
}

#my-work {
  width: 100vw;
  height: auto;
}

#projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.projects {
  width: 200px;
  height: 250px;
  border: 2px solid #00adb5;
  box-shadow: 0 0 15px 1px rgb(0, 0, 0);
  background: #00adb5;
  position: relative;
}

.projects img {
  height: 200px;
  width: 100%;
  background: gray;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(117, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  opacity: 0;
  transition: 0.5s;
}

.project-buttons:hover {
  opacity: 1;
}

.project-desc {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-top: 0.7rem;
}

.CV-content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.CV-img {
  box-shadow: 0 0 20px 5px rgb(0, 0, 0);
  border-radius: 20px;
  object-fit: contain;
  min-width: 200px;
  max-width: 50vw;
}

#close-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 97;
}

.popup-arrow {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  position: fixed;
  font-size: 60px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  top: 50%;
  z-index: 99;
  transform: translate(0%, -110%) scaleX(0.5);
}

.popup-arrow:not(.no-hover):hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  font-weight: 700;
}

#popup-arrow-left {
  left: 2%;
}

#popup-arrow-right {
  right: 2%;
}

.popup-pictures {
  position: fixed;
  margin-bottom: 1rem;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 98;
}
.popup-pictures img {
  border-radius: 20px;
  object-fit: contain;
  min-width: 200px;
  min-height: 200px;
  max-width: 80vw;
  max-height: 55vh;
}

.popup-outer {
  overflow: hidden;
  border: 1px, solid red;
  border-radius: 20px;
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  backdrop-filter: blur(4px);
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
  box-sizing: border-box;
  z-index: 98;
}

.popup-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 200px;
  width: 80vw;
  max-height: 30vh;
  overflow-y: auto;
  padding: 10px;
}

.hide-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.show-popup {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

/*# sourceMappingURL=style.css.map */
