#footer {
  background: #222831;
  width: 100%;
  height: auto;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 80px;
  width: 80px;
  background: #00adb5;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.social a img {
  filter: invert(100%);
  height: 80%;
  width: 80%;
}

.social a:hover {
  background: #00f2ff;
}

#footer p {
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  text-align: center;
  color: #eeeeee;
}

#footer p span {
  color: #00adb5;
}

@media screen and (max-width: 768px) {
  .social a {
    margin: 2rem 0;
  }
  .social {
    gap: 8vw;
  }
  #footer p {
    font-size: 1rem;
  }
}
.btn {
  margin: 1rem;
  padding: 1rem;
  color: #eeeeee;
  background: #00adb5;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  border-radius: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  overflow: hidden;
  transition: all 0.2s;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: #00f2ff;
  box-shadow: 0 0 5px 1px #00f2ff;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  width: 100vw;
  max-width: 100%;
  background: #222831;
}

header {
  cursor: default;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background: #222831;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.header-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 1rem;
  z-index: 98;
}

.header-btn {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.header-btn:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#intro-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 97;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  position: fixed;
  width: 30vw;
  perspective: 1000px;
  top: 0;
  padding-top: 30vh;
  z-index: 98;
}

.intro-carousel {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  transform-style: preserve-3d;
}

.intro-picture {
  width: 75%;
  position: absolute;
  bottom: -25vw;
}

.intro-carousel .intro-carousel-item {
  width: 100%;
  height: 30vh;
  position: absolute;
  overflow: hidden;
}

.intro-carousel-item {
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.intro-carousel-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 3vh;
  background: #393e46;
  box-shadow: 0px 0px 20px 0px #00adb5;
  position: relative;
}

.intro-carousel p {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.scale {
  transition: all 0.5s;
  position: absolute;
}

.intro-carousel:hover {
  cursor: pointer;
}

.intro-carousel-item.it1 {
  transform: rotateY(0deg) translateZ(20vw);
}

.intro-carousel-item.it2 {
  transform: rotateY(-120deg) translateZ(20vw);
}

.intro-carousel-item.it3 {
  transform: rotateY(-240deg) translateZ(20vw);
}

.show-intro {
  display: block;
}

#header-background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
  width: 100%;
  height: 100vh;
  animation: effect 5s linear infinite;
  z-index: 0;
}

#header-text-content {
  box-sizing: border-box;
  text-align: center;
  padding: 2rem;
  color: #eeeeee;
  font-size: 1.5rem;
  z-index: 99;
  position: fixed;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}
#header-text-content p {
  margin: 1rem;
}

.header-txt-highlight {
  color: #00adb5;
  font-size: 2rem;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 50vw;
  height: 50vh;
  background: linear-gradient(0deg, black, grey);
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(45deg, red, blue, green);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  filter: blur(5px);
}

@keyframes effect {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.neon-button {
  position: fixed;
  color: #00adb5;
  font-size: 1.5rem;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  z-index: 98;
}

.neon-button.focus {
  color: #eeeeee;
  background: #00f2ff;
  box-shadow: 0 0 30px #00f2ff;
  transition-delay: 1s;
}

.neon-button span {
  position: absolute;
  display: block;
}

.neon-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00f2ff);
}

.neon-button.focus span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.neon-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00f2ff);
}

.neon-button.focus span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.neon-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00f2ff);
}

.neon-button.focus span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #00f2ff);
}

.neon-button.focus span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

@media screen and (max-width: 1200px) {
  .border {
    width: 75vw;
    height: 75vh;
  }
  #header-text-content {
    width: 75vw;
    height: 75vh;
  }
}
@media screen and (max-width: 500px) {
  .intro-carousel p {
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
  }
}
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: auto;
  background: linear-gradient(180deg, #393e46, #393e46);
  color: #eeeeee;
  cursor: default;
  transition: opacity 0.2s;
}

.nav-border {
  width: 100%;
  background: #222831;
  position: fixed;
  padding: 10px 0;
  height: 20px;
  z-index: 2;
}

.nav-border a {
  display: none;
  cursor: pointer;
  float: left;
  font-size: 1rem;
  padding: 0px 20px;
  font-weight: 700;
  text-decoration: none;
  color: #eeeeee;
  transition: color 0.5s ease-out;
}

.nav-border > a:hover {
  color: #00adb5;
}

.nav-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background: #00adb5;
  z-index: 2;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: fixed;
  padding: 10px 0;
  height: 16px;
  z-index: 2;
}

.nav-menu a {
  font-size: 1rem;
  padding: 0 20px;
  font-weight: 700;
  text-decoration: none;
  color: #eeeeee;
  transition: color 0.5s ease-out;
  cursor: pointer;
}

.nav-menu > a:hover {
  color: #00adb5;
}

@media screen and (max-width: 768px) {
  .nav-border a {
    display: block;
  }
  .nav-menu {
    visibility: hidden;
    flex-direction: column;
    justify-content: space-around;
    top: 40px;
    width: 160px;
    height: 150px;
    background: rgb(26, 28, 31);
    z-index: 1;
    transform: translateY(-100%);
    transition: all 0.5s;
  }
  .nav-menu.responsive {
    visibility: visible;
    transform: translateY(0);
  }
}
#characters {
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}
#characters div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  transform: scale(0);
  transition: all 0.5s ease-in;
}
#characters div img {
  height: 100px;
  width: 100px;
  background: #00adb5;
  border-radius: 1rem;
  box-shadow: 0 0 15px 1px rgb(0, 0, 0);
  transition: all 1s;
}
#characters div p {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
}

.description {
  margin: 2rem;
}
.description #profile-img-container {
  float: left;
  margin: 2rem;
  border-radius: 2rem;
  width: 150px;
  height: 190px;
  background: white;
  box-shadow: 0px 0px 8px 8px #00adb5;
  overflow: hidden;
  transition: all 1s ease-in;
}
.description #profile-img-container img {
  width: 150px;
  border-radius: 2rem;
  object-fit: contain;
  opacity: 0;
  transition: all 1s ease-in;
}
.description p {
  font-size: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin-left: 220px;
}

.highlight-effect {
  background: #00f2ff !important;
  box-shadow: 0 0 15px 1px #00f2ff !important;
}

.txt-highlight {
  color: #00adb5;
  font-weight: 700;
  text-decoration: none;
}

a.txt-highlight:hover {
  color: #00f2ff;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

#about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h1 {
  font-size: 1.5rem;
  color: #00adb5;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  text-align: center;
  padding-top: 50px;
  position: relative;
}
main h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 70px);
  height: 0.2rem;
  background: #00adb5;
  width: 140px;
}
main h2 {
  font-size: 1.5rem;
  color: #00adb5;
  text-align: center;
  padding-top: 1rem;
}
main .langs {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
}
main .langs a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  height: 100px;
  width: 100px;
  background: #00adb5;
  border-radius: 1rem;
  box-shadow: 0 0 15px 1px rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  color: black;
  font-size: 0.8rem;
}
main .langs img {
  height: 75%;
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 1200px) {
  main .langs {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
  }
}
@media screen and (max-width: 768px) {
  main .langs {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 100px);
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description p {
    text-align: justify;
    margin-left: 0;
  }
  .description img {
    float: none;
  }
  .description :nth-child(1) {
    order: 0;
  }
  .description :nth-child(2) {
    order: -1;
  }
}
.hidden {
  opacity: 0;
  animation: none;
}

#my-work {
  width: 100%;
  height: auto;
}

#projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.projects {
  width: 200px;
  height: 250px;
  border: 2px solid #00adb5;
  box-shadow: 0 0 15px 1px rgb(0, 0, 0);
  border-radius: 1rem;
  background: #00adb5;
  position: relative;
}

.projects img {
  height: 200px;
  width: 100%;
  background: gray;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border-radius: 1rem;
  opacity: 0;
  transition: 0.5s;
}

.project-buttons:hover {
  opacity: 1;
}

.project-desc {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-top: 0.7rem;
}

.CV-content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.CV-img {
  box-shadow: 0 0 20px 5px rgb(0, 0, 0);
  border-radius: 20px;
  object-fit: contain;
  min-width: 200px;
  max-width: 50vw;
}

#close-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 97;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popup-pictures {
  margin-bottom: 2rem;
  background: rgba(0, 172, 181, 0.4941176471);
  box-shadow: 0px 0px 8px 2px #00adb5;
  border-radius: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  overflow: hidden;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.popup-pictures img {
  min-width: 200px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  object-fit: contain;
}

.popup-outer {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 2px #00adb5;
  background: #393e46;
  backdrop-filter: blur(4px);
  align-items: center;
  box-sizing: border-box;
  min-width: 200px;
  width: 100%;
}

.popup-inner {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.5;
  min-width: 200px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.hide-popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.show-popup {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.carousel__item {
  position: absolute;
  transition: all 0.3s ease-in;
  top: 10%;
}
.carousel__item[data-pos="0"] {
  z-index: 105;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40vw) translateY(-20vh) scale(0.3);
  z-index: 104;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40vw) translateY(-20vh) scale(0.3);
  z-index: 104;
}

.left_popup {
  transform: translateX(-100vw) translateY(-30vh) scale(0.3);
  z-index: 104;
}

.right_popup {
  transform: translateX(100vw) translateY(-30vh) scale(0.3);
  z-index: 104;
}

.hobbies-popup {
  display: none;
  position: fixed;
  width: 30vw;
  perspective: 1000px;
  top: 0; /* height to top */
  padding-top: 15vh;
  z-index: 98;
}

.hobbies-carousel {
  width: 100%;
  transform-style: preserve-3d;
}

.hobbies-carousel .hobbies-carousel-item {
  width: 100%;
  height: 30vh;
  position: absolute;
  overflow: hidden;
}

.hobbies-carousel-item {
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-150vw) rotateY(360deg);
  transition: all 1s;
}

.hobby-img {
  transition: ease-in-out 0.5s;
  width: 90%;
  max-height: 85%;
  object-fit: contain;
}

.hobbies-carousel p {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.hobbies-carousel .img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  position: absolute;
}

.hobbies-carousel:hover {
  cursor: pointer;
}

/* animation rotate */
.it1 {
  transform: rotateY(0deg) translateZ(30vw);
}

.it2 {
  transform: rotateY(72deg) translateZ(30vw);
}

.it3 {
  transform: rotateY(144deg) translateZ(30vw);
}

.it4 {
  transform: rotateY(216deg) translateZ(30vw);
}

.it5 {
  transform: rotateY(288deg) translateZ(30vw);
}

.show-hobbies {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

/*# sourceMappingURL=style.css.map */
