.main_darkTheme {
    --primary: #191919;
    --secondary: #111111;
    --highlight_color: #2d85ff;
    --highlight_color_darken: #256fd5;
    --text-primary: #fff;
    --text-secondary: #8d8d8d;
    --panel: #1e1e1e;
}

.main_lightTheme {
    --primary: #efefef;
    --secondary: #e4e4e4;
    --panel: #fff;
    --text-primary: #000;
    --text-secondary: #7a7a7a;
}

$primary: var(--primary);
$secondary: var(--secondary);
$highlight_color: var(--highlight_color);
$highlight_color_darken: var(--highlight_color_darken);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$panel: var(--panel);
$bgGradient: linear-gradient(
    30deg,
    var(--highlight_color),
    var(--highlight_color_darken),
    var(--primary),
    var(--highlight_color_darken),
    var(--highlight_color)
);

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

@mixin hide {
    opacity: 0;
    animation: none;
}

.navMenuMargin {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

.mainSection {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    @include flex;
    flex-direction: column;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    /*Responsive text with min and max limit*/
    font-size: clamp(1.5em, 2vw, 5em);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
}
.h1Wrapper {
    @include flex;
    width: 100%;
}
h1::before,
h1::after {
    content: "";
    position: absolute;
    background-color: $highlight_color;
    width: 1.5em;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

h1::before {
    left: -2.5em;
}

h1::after {
    right: -2.5em;
}

.stopScrolling {
    overflow: hidden;
}

.fullScreenImg {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.9);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

.txtHighlight {
    color: $highlight_color;
    font-weight: 700;
    text-decoration: none;
}

.txtHighlightNoHover {
    color: $highlight_color;
    font-weight: 700;
    text-decoration: none;
}

.txtHighlight:hover {
    color: $highlight_color_darken;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    margin: 1rem;
    padding: 1rem;
    color: $text-primary;
    background: $secondary;
    border-radius: 0.5rem;
    border-width: 3px;
    border-style: outset;
    border-color: buttonborder;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    overflow: hidden;
    transition: all 0.2s;
    transition: transform 0.2s;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: visible;
}

.btn:hover {
    background: $highlight_color_darken;
    // box-shadow: 0 0 2px 1px $highlight_color_darken;
}

.popupNavPrev,
.popupNavNext,
.popupNavClose {
    padding: 0;
    margin: 0;
    @include flex;
    color: $highlight_color;
    background: $secondary;
    text-decoration: none;
    position: absolute;
    transition: all 150ms ease;
    border-radius: 22px;
    width: 44px;
    height: 44px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.popupNavPrev {
    left: 2px;
    bottom: 2px;
}
.popupNavNext {
    right: 2px;
    bottom: 2px;
}

.popupNavClose {
    top: 2px;
    right: 2px;
}
.popupNavPrev:hover,
.popupNavNext:hover,
.popupNavClose:hover {
    background-color: $highlight_color;
    text-shadow: 0;
    color: $text-primary;
}

@media screen and (max-width: 600px) {
    .h1Wrapper {
        width: 60%;
    }
}
