@use "../vars/colours.scss" as *;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hide {
    opacity: 0;
    animation: none;
}

.btn {
    margin: 1rem;
    padding: 1rem;
    color: $fonts_color;
    background: $highlight_color;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
    border-radius: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    overflow: hidden;
    transition: all 0.2s;
    transition: transform 0.5s;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background: $highlight_color_hover;
    box-shadow: 0 0 5px 1px $highlight_color_hover;
}
