@use "../vars/commonStyles.scss" as *;

.aboutMe {
    @include flex;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding-top: 6rem;
    &__header {
        text-align: center;
    }

    &__picCharContainer {
        width: 250px;
        @include flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__picture {
        border-radius: 2rem;
        width: 150px;
        height: 190px;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 4px 0px $highlight_color;
        object-fit: contain;
    }

    &__characters {
        margin: 0 0.5rem;
        @include flex;
        align-items: flex-start;
        column-gap: 25px;
        width: 100%;
        max-width: 1200px;
        flex-wrap: wrap;
    }

    &__listItem {
        font-size: 1rem;
        list-style: disc;
        padding: 0 1rem 0.5rem;
        text-align: justify;
    }

    &__paragraph {
        font-size: 1rem;
        margin: 0;
        padding: 1rem 1rem;
        text-align: center;
    }
}

.character {
    @include flex;
    flex-direction: column;
    width: 50px;
    margin: 0;
    padding: 0;

    &__icon {
        height: 50px;
        box-sizing: border-box;
        width: 50px;
        border-radius: 10px;
        box-shadow: 0 0 4px 0px $text-primary;
        text-align: center;
        padding-top: 7px;
    }

    &__name {
        margin-top: 0.5rem;
        font-size: 10px;
        font-weight: 700;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .aboutMe {
        flex-direction: column;
    }
}
