@use "../vars/colours.scss" as *;
@use "../vars/global.scss" as *;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hide {
    opacity: 0;
    animation: none;
}

.nav-menu--margin {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
}

.description {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin: 0.5rem 2rem;
}

.description > p {
    font-size: 1rem;
    margin: 0;
    padding: 1rem 1rem;
    padding-bottom: 0;
    max-width: 800px;
    text-align: justify;
}

.profile-img-characters-container {
    float: left;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-img {
    margin: 2rem;
    border-radius: 2rem;
    width: 150px;
    height: 190px;
    background: white;
    box-shadow: 0px 0px 8px 8px $highlight_color;
    img {
        width: 150px;
        border-radius: 2rem;
        object-fit: contain;
    }
}
.characters {
    margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 25px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    div {
        @include flex;
        flex-direction: column;
        width: 50px;
        transition: all 0.5s ease-in;
        img {
            height: 50px;
            width: 50px;
            background: $highlight_color;
            border-radius: 10px;
            box-shadow: 0 0 15px 1px rgb(0, 0, 0);
            transition: all 0.2s;
        }
        p {
            margin-top: 0.5rem;
            font-size: 10px;
            font-weight: 700;
            text-align: center;
        }
    }
}

.txt-highlight,
.txt-highlight--no-hover {
    color: $highlight_color;
    font-weight: 700;
    text-decoration: none;
}

.txt-highlight:hover {
    color: $highlight_color_hover;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

#about {
    width: 100%;
    height: auto;
    @include flex;
    flex-direction: column;
}

.main-section > h1 {
    font-size: 1.5rem;
    margin: 5px;
    color: $highlight_color;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    text-align: center;
    position: relative;
}
.main-section > h1::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: calc(50% - 70px);
    height: 0.2rem;
    background: $highlight_color;
    width: 140px;
}
h2 {
    font-size: 1.5rem;
    color: $highlight_color;
    text-align: center;
}

.langs {
    margin: 0 auto 1rem auto;
    display: grid;
    grid-template-columns: repeat(8, 75px);
    gap: 1rem;
    justify-content: center;
    max-width: 1200px;
}
.langs div {
    @include flex;
    flex-direction: column;
    text-decoration: none;
    height: 75px;
    width: 75px;
    background: $highlight_color;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
    color: black;
    font-size: 0.7rem;
    transition: transform 0.2s;
}

.langs img {
    height: 70%;
    margin-bottom: 0.2rem;
}

.langs div:hover,
.characters div img:hover {
    background: $highlight_color_hover;
    transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
    .langs {
        grid-template-columns: repeat(4, 75px);
        grid-template-rows: repeat(2, 75px);
    }
}

@media screen and (max-width: 768px) {
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description > :nth-child(1) {
        order: 0;
    }
    .description > :nth-child(2) {
        order: -1;
    }
    .langs {
        grid-template-columns: repeat(2, 75px);
        grid-template-rows: repeat(4, 75px);
    }
    .profile-img-characters-container {
        float: none;
        width: 100%;
    }
}

.hidden {
    @include hide;
}
