@use "../vars/colors.scss" as *;
@use "../vars/commonStyles.scss" as *;

.cardsContainer {
    @include flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
}

.card {
    width: 15em;
    height: 10em;
    @include flex;
    position: relative;
}

.card div {
    box-sizing: border-box;
    padding: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 98%;
    height: 98%;
    transform: translate(-50%, -50%);
    background-image: $bgGradient;
    background-size: 1000% 1000%;
    background-position: center;
    border-radius: 1em;
    @include flex;
    flex-direction: column;
}
.card div:hover {
    background: $highlight_color_darken;
    cursor: pointer;
    box-shadow: 0 0 6px 0 $highlight_color;
}

.cardsContainer .card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(0deg, $primary, $highlight_color);
    border-radius: 1.2em;
    z-index: 0;
}

.card i {
    font-size: 4em;
    color: $highlight_color;
    margin-bottom: 0.5em;
    position: relative;
}

.card p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: $text-primary;
    margin-bottom: 0.5em;
    position: relative;
}
