@use "../vars/colors.scss" as *;
@use "../vars/commonStyles.scss" as *;

.footer {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    background: $primary;
    &__paragraph {
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        color: $text-primary;
        text-align: center;
    }

    &__paragraph_highlight {
        color: $highlight_color;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__paragraph {
            font-size: 1rem;
        }
    }
}
