@use "../vars/commonStyles.scss" as *;

.intro {
    width: 100%;
    height: 100svh;
    position: relative;

    &__carousel {
        position: relative;
        width: 300px;
        height: 10px;
        perspective: 1000px;
        margin: 0 auto;
        bottom: -30vh;
    }
}

.carousel {
    @include flex;
    width: 100%;
    transform-style: preserve-3d;

    &__picture {
        width: 200px;
        position: absolute;
        top: -100px;
    }

    &__item {
        @include flex;
        flex-direction: column;
        position: absolute;
        top: 120px;
        width: 100%;
        max-width: 400px;
        height: 150px;
        background: $secondary;
        box-shadow: 0px 0px 10px 0px $text-primary;
        border-radius: 3vh;
        transition: all 1s;
        overflow: hidden;
        transform: rotateY(0) translateZ(0);
    }

    &__it1 {
        left: -350px;
        z-index: 0;
        transform: rotateY(-20deg);

        &_isPlay {
            left: unset;
            transform: rotateY(0deg) translateZ(200px);
        }
    }

    &__it2 {
        transform: translateZ(40px);
        z-index: 1;

        &_isPlay {
            transform: rotateY(-120deg) translateZ(200px);
        }
    }

    &__it3 {
        right: -350px;
        z-index: 2;
        transform: rotateY(20deg);

        &_isPlay {
            right: unset;
            transform: rotateY(-240deg) translateZ(200px);
        }
    }

    &__paragraph {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: $text-primary;
    }
}

//-------------------------button----------------------------------

.intro__button {
    @include flex;
    position: absolute;
    right: 30px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 400;

    &_play {
        top: 60px;
        width: 50px;
    }

    &_work {
        bottom: 30px;
        gap: 0.4rem;
    }

    &_arrow {
        color: $highlight_color;
        transition: transform 0.3s ease;
    }
}

// ---------------------/button---------------------------

@media screen and (max-width: 1200px) {
    .carousel {
        &__item {
            width: 180px;
            height: 100px;
            top: 180px;
        }

        &__it1 {
            left: -150px;

            &_isPlay {
                left: unset;
                width: 250px;
            }
        }

        &__it2 {
            &_isPlay {
                width: 250px;
            }
        }

        &__it3 {
            right: -150px;

            &_isPlay {
                right: unset;
                width: 250px;
            }
        }

        &__paragraph {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .carousel {
        &__item {
            width: 110px;
        }

        &__it1 {
            left: -30px;

            &_isPlay {
                left: unset;
                width: 150px;
                transform: rotateY(0deg) translateZ(100px);
            }
        }

        &__it2 {
            &_isPlay {
                width: 150px;
                transform: rotateY(-120deg) translateZ(100px);
            }
        }

        &__it3 {
            right: -30px;

            &_isPlay {
                right: unset;
                width: 150px;
                transform: rotateY(-240deg) translateZ(100px);
            }
        }

        &__paragraph {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-height: 500px) {
    .carousel {
        bottom: 0px;

        &__picture {
            top: 50px;
            width: 120px;
        }

        &__item {
            top: 180px;
            width: 180px;
            height: 100px;
        }

        &__it1 {
            left: -150px;

            &_isPlay {
                top: 100px;
                left: unset;
                width: 250px;
            }
        }

        &__it2 {
            &_isPlay {
                width: 250px;
                top: 100px;
            }
        }

        &__it3 {
            right: -150px;

            &_isPlay {
                top: 100px;
                right: unset;
                width: 250px;
            }
        }

        &__paragraph {
            font-size: 0.9rem;
        }
    }
}
