@use "../vars/colours.scss" as *;
@use "../vars/global.scss" as *;

.introBg {
    background-image: url("../../images/intro/intro-background-day.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100svh;
    position: relative;
}

.intro {
    position: relative;
    width: 300px;
    perspective: 1000px;
    margin: 0 auto;
    bottom: -30vh;
}

.introCarousel {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    transform-style: preserve-3d;
}

.introPicture {
    width: 200px;
    position: absolute;
    top: -100px;
}

.introCarouselItem {
    width: 100%;
    max-width: 400px;
    height: 150px;
    position: absolute;
    top: 120px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    transform: rotateY(0) translateZ(0);
}

.introCarouselItemContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 2vh;
    background: $bg_color_grey;
    box-shadow: 0px 0px 10px 0px $fonts_color;
    position: relative;
}

.introCarousel p {
    color: $fonts_color;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 5%;
}

.scale {
    transition: all 0.5s;
    position: absolute;
}

.introCarouselItem.it1 {
    z-index: 0;
    left: -300px;
}

.introCarouselItem.it3 {
    right: -300px;
    z-index: 2;
}

.introCarouselItem.it1.carousel {
    left: unset;

    transform: rotateY(0deg) translateZ(200px);
}
.introCarouselItem.it2.carousel {
    transform: rotateY(-120deg) translateZ(200px);
}
.introCarouselItem.it3.carousel {
    right: unset;
    transform: rotateY(-240deg) translateZ(200px);
}

//-------------------------button----------------------------------

.carouselBtn {
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 1rem;
    padding: 8px;
}
.downBtn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 3rem;
    padding: 0 1rem;
}

// ---------------------/button---------------------------

@media screen and (max-width: 1200px) {
    .introCarouselItem {
        width: 180px;
        height: 100px;
        top: 180px;
    }

    .introCarouselItem.it1 {
        left: -150px;
        z-index: 0;
    }

    .introCarouselItem.it3 {
        right: -150px;
        z-index: 2;
    }

    .introCarouselItem.carousel {
        width: 250px;
    }

    .introCarousel p {
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .introCarouselItem {
        width: 90px;
    }

    .introCarouselItem.it1 {
        z-index: 0;
        left: 0;
    }

    .introCarouselItem.it3 {
        right: 0;
        z-index: 2;
    }

    .introCarousel p {
        font-size: 0.8rem;
        font-weight: 700;
        text-align: center;
    }

    .introCarouselItem.carousel {
        width: 150px;
    }
    .introCarouselItem.it1.carousel {
        transform: rotateY(0deg) translateZ(100px);
    }
    .introCarouselItem.it2.carousel {
        transform: rotateY(-120deg) translateZ(100px);
    }
    .introCarouselItem.it3.carousel {
        transform: rotateY(-240deg) translateZ(100px);
    }
}

@media screen and (max-height: 500px) {
    .intro {
        bottom: 0px;
    }

    .introPicture {
        width: 120px;
        position: absolute;
        top: 50px;
    }

    .introCarouselItem {
        width: 180px;
        height: 100px;
        top: 180px;
    }

    .introCarouselItem.it1 {
        left: -150px;
        z-index: 0;
    }

    .introCarouselItem.it3 {
        right: -150px;
        z-index: 2;
    }

    .introCarouselItem.carousel {
        width: 250px;
        top: 100px;
    }

    .introCarousel p {
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
    }
}
