@use "../vars/commonStyles.scss" as *;

.skills {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding-top: 3rem;

    &__header {
        text-align: center;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.skill {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 3rem;

    &__pictures {
        @include flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        gap: 1rem;
        padding: 0.5rem 0;
    }

    &__picture {
        box-sizing: border-box;
        position: relative;
        width: 80px;
        height: 80px;
        margin: 0;
        padding-top: 5px;
        border-radius: 10px;
        box-shadow: 0 0 4px 0px $text-primary;
        font-size: 0.7rem;
        color: $highlight_color;
        text-align: center;
        text-decoration: none;
        transition: transform 0.2s;

        p {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 3px;
            font-weight: 700;
            color: $text-primary;
        }
    }
    &__description {
        padding: 0 1rem;
    }

    &__list {
        list-style: disc;
    }

    &__header {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        &__container {
            display: block;
        }
    }
}
