@use "../vars/colours.scss" as *;
@use "../vars/global.scss" as *;

#my-work {
    width: 100%;
    height: auto;
}

#projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 3rem;
    margin: 1rem;
    margin-bottom: 3rem;
}

.project {
    width: 200px;
    height: 250px;
    border: 2px solid $highlight_color;
    box-shadow: 0 0 15px 1px rgb(0, 0, 0);
    border-radius: 1rem;
    background: $highlight_color;
    position: relative;
    text-align: center;
}

.project-img {
    height: 200px;
    width: 100%;
    background: gray;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.project-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    border-radius: 1rem;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
}

.project-buttons--hover {
    opacity: 1;
}

.scaled-down {
    transform: scale(0);
}

.project-desc {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin-top: 0.7rem;
}

.used-technologies {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.used-technologies--img {
    width: 30px;
    height: 30px;
    background: $highlight_color;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px black;
    z-index: 1;
}

.used-technologies--img {
    width: 30px;
    height: 30px;
    background: $highlight_color;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px black;
    transition: all 0.1s;
}

.used-technologies--img:hover {
    scale: 1.5;
    background: $highlight_color_hover;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    #projects-container {
        column-gap: 0.8rem;
        row-gap: 3rem;
        margin: 1rem 0;
        margin-bottom: 2rem;
    }
    .project {
        width: 150px; //
        height: 200px; //
        border-radius: 0.5rem; //
    }
    .project-img {
        height: 150px; //

        border-top-left-radius: 0.5rem; //
        border-top-right-radius: 0.5rem; //
    }
    .project-buttons {
        border-radius: 0.5rem; //
    }
    .project-desc {
        font-size: 0.7rem;
        font-weight: 700;
        color: white;
        margin-top: 0.7rem;
    }
}
