@use "../vars/colours.scss" as *;
@use "../vars/global.scss" as *;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBorder {
    width: 100%;
    background: $primary;
    position: fixed;
    padding: 10px 0;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 98;
}

.navBorder::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: $highlight_color;
}

.navBorderMenuBtn {
    display: none;
    cursor: pointer;
    float: left;
    font-size: 1rem;
    padding: 0px 20px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.navBorderMenuBtn:hover {
    color: $highlight_color;
}

.navMenu {
    top: 0;
    left: 0;
    width: 100%;
    @include flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    padding: 10px;
    height: 16px;
    z-index: 98;
}
.navMenu {
    span {
        font-size: 1rem;
        padding: 0 20px;
        font-weight: 700;
        text-decoration: none;
        transition: color 0.2s ease-out;
        cursor: pointer;
        border: 3px solid $primary;
        transition: all 0.3s;
    }
    span:hover {
        color: $highlight_color_darken;
    }
}

.navMenu {
    span {
        i {
            padding: 0;
            margin: 0;
            display: none;
        }
    }
}

.active {
    transform: translateY(20px);
    color: $highlight_color;
    background-color: $primary;
    border: 3px solid $highlight_color !important;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .fullName {
        display: none;
    }
    .navMenu {
        span {
            padding: 0 4vw;
            i {
                padding: 0;
                margin: 0;
                display: inline;
            }
        }
    }
}

//     .navBorderMenuBtn {
//         display: block;
//     }

//     .navMenu {
//         visibility: hidden;
//         flex-direction: column;
//         justify-content: space-around;
//         top: 40px;
//         width: 160px;
//         height: 150px;
//         background: $primary;
//         transform: translateY(-100%);
//         transition: all 0.2s;
//         z-index: 97;
//     }

//     .navMenu.responsive {
//         visibility: visible;
//         transform: translateY(0);
//         border-bottom: 2px solid $highlight_color;
//         border-right: 2px solid $highlight_color;
//     }
//     .active {
//         transform: translateY(0);
//         color: $highlight_color;
//         background-color: $primary;
//         border: none;
//         border-radius: 0px;
//     }
// }
