@use "../vars/colours.scss" as *;
@use "../vars/global.scss" as *;

.mainSection {
    max-width: 1400px;
    padding: 1rem;
}

.header {
    width: 100%;
    background: $primary;
    position: fixed;
    padding: 10px 0;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 98;
    text-align: center;
}

.header h5 {
    margin: 0;
    padding: 0;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: $highlight_color;
}

.backBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-weight: 700;
    cursor: pointer;
}
.backBtn:hover {
    color: $highlight_color_darken;
}

.appShotsContainer {
    margin-top: 50px;
    @include flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 600px;
}
.appShotsContainer p {
    margin: 0;
}

.appShotsContainer img {
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px $highlight_color;
    border-radius: 0.2rem;
    padding: 0.5rem;
    cursor: zoom-in;
}

.globalDiagram {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.globalDiagram p {
    max-width: 680px;
    margin-top: 0;
}

.globalDiagram > img {
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 100%;
    max-height: 60dvh;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px $highlight_color;
    cursor: zoom-in;
}

.branchSection {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
.techSection {
    box-sizing: border-box;
    margin: 0;
    // width: 400px;
    display: flex;
    flex-direction: column;
    // border-radius: 0.5rem;
    // box-shadow: 0px 0px 4px 0px $highlight_color;
    padding: 10px;
    // background-color: rgba(0, 0, 0, 0.05);
}

.techSection h4 {
    margin: 0;
}
.techSectionIMG {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.techSectionIMG > img {
    padding: 0.2rem;
    border-radius: 0.5rem;
    max-width: 45%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 0px $highlight_color;
    object-fit: scale-down;
    cursor: zoom-in;
}

.timeline {
    margin: 2em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint:nth-child(odd) {
    border-left: 4px solid $highlight_color;
    padding-left: 3em;
    transform: translateX(270px);
}

.checkpoint:nth-child(even) {
    border-right: 4px solid $highlight_color;
    padding-right: 3em;
    transform: translateX(-270px);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: "";
    background: $highlight_color;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: "";
    background: $highlight_color;
    box-shadow: 0 0 0.5em $highlight_color;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }
    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before {
        width: 3px;
        height: 3em;
        top: -1.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}
