@use "../vars/colours.scss" as *;
@use "../vars/global.scss" as *;

.navBorderThemeBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.8rem;
}

.themeBtnImg {
    height: 25px;
}
