@use "./vars/colours.scss" as *;
@use "./vars/global.scss" as *;

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: auto;
    background: $bg_color_grey;
    // background: linear-gradient(180deg, $bg_color_grey, $bg_color_black);
    color: $fonts_color;
    cursor: default;
}
