@forward "vars/vars";
@forward "vars/const";
@use "vars/vars" as *;
@use "vars/const" as *;

body {
    width: 100vw;
    max-width: 100%;
    background: $bg_color_black;
}

// ......................................................................

header {
    cursor: default;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: relative;
    background: $bg_color_black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.header-buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 1rem;
    z-index: 98;
}

.header-btn {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.header-btn:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#intro-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 97;
    display: flex;
    justify-content: center;
    align-items: center;
    // perspective: 30px;
}

.intro {
    position: fixed;
    width: 30vw;
    perspective: 1000px;
    top: 0;
    padding-top: 30vh;
    z-index: 98;
}

.intro-carousel {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    transform-style: preserve-3d;
}

.intro-picture {
    width: 75%;
    position: absolute;
    bottom: -25vw;
}

.intro-carousel .intro-carousel-item {
    width: 100%;
    height: 30vh;
    position: absolute;
    overflow: hidden;
}
.intro-carousel-item {
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // transform: translateX(-150vw) rotateY(360deg);
    transition: all 1s;
}
.intro-carousel-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 3vh;
    background: $bg_color_grey;
    box-shadow: 0px 0px 20px 0px $highlight_color;
    position: relative;
}

.intro-carousel p {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.scale {
    transition: all 0.5s;
    position: absolute;
}
.intro-carousel:hover {
    cursor: pointer;
}

.intro-carousel-item.it1 {
    transform: rotateY(0deg) translateZ(20vw);
}
.intro-carousel-item.it2 {
    transform: rotateY(-120deg) translateZ(20vw);
}
.intro-carousel-item.it3 {
    transform: rotateY(-240deg) translateZ(20vw);
}

.show-intro {
    display: block;
}

// ......................................................................

#header-background {
    position: fixed;
    top: 0;
    left: 0;
    @include flex;
    background-image: url(images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    width: 100%;
    height: 100vh;
    animation: effect 5s linear infinite;
    z-index: 0;
}
#header-text-content {
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    color: $fonts_color;
    font-size: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    p {
        margin: 1rem;
    }
}

.header-txt-highlight {
    color: $highlight_color;
    font-size: 2rem;
}

.border {
    @include flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 50vw;
    height: 50vh;
    background: linear-gradient(0deg, black, grey);
}

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    background: linear-gradient(45deg, red, blue, green);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    filter: blur(5px);
}

@keyframes effect {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

//-------------------------button----------------------------------

.neon-button {
    position: fixed;
    color: $highlight_color;
    font-size: 1.5rem;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    z-index: 98;
}

.neon-button.focus {
    color: $fonts_color;
    background: $highlight_color_hover;
    box-shadow: 0 0 30px $highlight_color_hover;
    transition-delay: 1s;
}

.neon-button span {
    position: absolute;
    display: block;
}

.neon-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.neon-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.neon-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.neon-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

// ---------------------button---------------------------

@media screen and (max-width: 1200px) {
    .border {
        width: 75vw;
        height: 75vh;
    }

    #header-text-content {
        width: 75vw;
        height: 75vh;
    }
}

//     .header h1 {
//         font-size: 2rem;
//     }

//     .header h1 span {
//         font-size: 2rem;
//     }
// }

// @media screen and (max-width: 768px) {
//     .header h1 {
//         font-size: 1.5rem;
//     }

//     .header h1 span {
//         font-size: 1.5rem;
//     }
// }

@media screen and (max-width: 500px) {
    .intro-carousel p {
        color: white;
        font-size: 0.8rem;
        font-weight: 700;
        text-align: center;
    }
}
