@forward "vars/vars";
@forward "vars/const";
@use "vars/vars" as *;
@use "vars/const" as *;

body {
    background: $bg_color_black;
}

header {
    cursor: default;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: $bg_color_black;
    display: flex;
    align-items: center;
    justify-content: center;
    // visibility: visible;
    transition: opacity 0.2s;
}

#header-background {
    position: fixed;
    top: 0;
    left: 0;
    @include flex;
    background-image: url(images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    width: 100vw;
    height: 100vh;
    animation: effect 5s linear infinite;
    z-index: 0;
}
#header-text-content {
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    color: $fonts_color;
    font-size: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    p {
        margin: 1rem;
    }

    a {
        position: absolute;
        color: $highlight_color;
        font-size: 1.5rem;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.header-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    transition: transform 0.2s;
}

#sound-btn {
    top: 10px;
    right: 10px;
}
#repeat-btn {
    visibility: hidden;
    top: 10px;
    left: 10px;
}

.header-btn:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.header-txt-highlight {
    color: $highlight_color;
    font-size: 2rem;
}

.border {
    @include flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 50vw;
    height: 50vh;
    background: linear-gradient(0deg, black, grey);
}

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    background: linear-gradient(45deg, red, blue, green);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    filter: blur(5px);
}

@keyframes effect {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

//-------------------------button----------------------------------

.neon-button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: $highlight_color;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.neon-button.focus {
    color: $fonts_color;
    background: $highlight_color_hover;
    box-shadow: 0 0 30px $highlight_color_hover;
    transition-delay: 1s;
}

.neon-button span {
    position: absolute;
    display: block;
}

.neon-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.neon-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.neon-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.neon-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, $highlight_color_hover);
}

.neon-button.focus span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

// ---------------------button---------------------------

@media screen and (max-width: 1200px) {
    .border {
        width: 75vw;
        height: 75vh;
    }

    #header-text-content {
        width: 75vw;
        height: 75vh;
    }
}

//     .header h1 {
//         font-size: 2rem;
//     }

//     .header h1 span {
//         font-size: 2rem;
//     }
// }

// @media screen and (max-width: 768px) {
//     .header h1 {
//         font-size: 1.5rem;
//     }

//     .header h1 span {
//         font-size: 1.5rem;
//     }
// }

// @media screen and (max-height: 680px) {
//     .border {
//         height: 80vh;
//     }
// }
